<div class="p-3">
    <ui5-breadcrumbs separator-style="Slash">
        <ui5-breadcrumbs-item href="/">Worklist</ui5-breadcrumbs-item>
        <ui5-breadcrumbs-item>{{_fo.tor_id}}</ui5-breadcrumbs-item>
    </ui5-breadcrumbs>
    <ui5-title level="H2">{{_fo.tor_id}}</ui5-title>
    <div class="pt-2 d-inline-flex">
        <ui5-icon name="appointment"></ui5-icon>
        <ui5-title level="H6" class="ps-1">{{_fo.pickup_dt | customdate}}</ui5-title>
    </div>
    <div class="pt-2 d-inline-flex ps-2">
        <ui5-icon name="map-2"></ui5-icon>
        <ui5-title level="H6" class="ps-1">{{_fo.des_city}}</ui5-title>
    </div>
    <hr>
    <div>
        <ui5-list id="stops" header-text="Stops" no-data-text="No Data Available">
            <ui5-li selected icon="map" icon-end *ngFor="let _stop of _fo.to_stop">{{_stop.des_locid}}</ui5-li>
        </ui5-list>
    </div>
</div>